/* COLORS */
$primary: #ef6a61;
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$light100: #fdfdfd;
$light200: #f9f9f9;
$light300: #f5f5f5;
$light400: #f1f1f1;
$dark100: #9fa3b1;
$dark200: #707070;
$dark300: #474747;
$dark400: #222;
$danger: #f94f51;
$warning: #feaf46;
$info: #5cb9fa;
$success: #02b854;
$emerald: #2ecc71;
$blue: #0048c2;

$shadow: 0px 3px 18px rgba(black, 0.1);
